<link rel="stylesheet" href="/css/signin.css">
 
<div class="card">
    <form action="/users/create-session" method="post">
    <input class="email" type="text" name="email" placeholder="Enter or Phone Number" required/>  
    <input class="email" type="password" name="password" placeholder="password" required/> 
    <input class="btn" type="submit" value="Log In">
     <a href="/users/auth/google"><img src="/images/google.png" alt=""></a>
    <hr>
    <input class="btn1" type="submit" value="Create New Account?"><br><br> 
    <a href="#">Forgot account?</a> 
    </form> 
</div>
 
  

 